@import 'app/constants/Mixins.scss'; 
  
.search_top{
  top: -50;
  background-color: lightcoral;
//  position: absolute;
  width: 100%;
  height: 250px;
}
.search_found {
  top: -50;
  background-color: lightcoral;
//  position: absolute;
  width: 100%;
  min-height: 125px;
  padding: 10px;
}
.h100{
  height: 100%;
  @media screen and (max-width:600px) {
    height: 50%;
  }
}
weather-view {
  position: relative;
}
.mic {
	md-input-container label,
	md-input-container input,
	 md-input-container{
	 	#inner-editor{
	 		color: white !important;
	 	}
	 	.ng-not-empty{
	 		color: white !important;
	 	}
	 	.ng-touched{
	 		color: white !important;
	 	};
	    color: white !important;
	}
}
.error_box {
  width: 100%;
  height: 100%;
  z-index: 20;
  position: absolute;
  background-color: transparentize(#eee, 0.5);
  blur: 5px;
  top: 0;
  left: 0;
  right: 0;
  color: darkred;
  @extend .racing;
 
  #backdrop {
    @include blur(5px);
    width: 100%;
    height: 100%;
    z-index: 18;
    position: absolute;
    background-color: transparentize(#eee, 0.5);
  }
}
.hmax {
  height: 100%;
}