@import url('https://fonts.googleapis.com/css?family=Nosifer|Noto+Sans|Press+Start+2P|Racing+Sans+One');
@import 'app/components/landing/Landing.scss';
@import 'app/assets/styles/weather-icons.css';
@import 'app/constants/Mixins.scss';
@import 'app/assets/styles/weather-icons-wind.css';
@import 'app/assets/styles/hover.css';

.nom{
  margin: 1%;
}
.nocifer{
 font-family: 'Nosifer', cursive;
}

.ps2p{
  font-family: 'Press Start 2P', cursive;
}
.racing{
  font-family: 'Racing Sans One', cursive;
}
.noto{
  font-family: 'Noto Sans', sans-serif;
}
.white{
  color: whitesmoke;
}
.center{
  text-align: center;
}
.amp{
  position: absolute;
  right: -50%;
}
.li_gif{
  .circle{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.liked{
  color: red;
}
.slider{
  width: -webkit-max-content;
}
.sharebox{
  font-family: 'Racing Sans One', cursive;
  font-size: 1rem;
}
.start_view{
  height: calc(100% - 50px) !important;
  @media screen and (max-width:600px){
    height: calc(100% - 30px) !important;
  }
  position: fixed !important;
  z-index: 50;
}
.uibox{
  width:100%;
  overflow-y: scroll;
}
.p_start{
      animation: starter_flash 3s linear infinite;
      font-family: 'Press Start 2P', cursive;
      position: absolute;
      top: calc(100% - 50px);
    }
.blog_header{
  background: darkred;
  color: black;
  blur: 5px;
  height:50px;
  color: whitesmoke;
  @media screen and (max-width: 600px){
    height:30px;
    h1{
      font-size: 14px;
    }
  }
  .blog_icon{
    i{
      font-size: 24px;
    }
  }
}

.facebook{
  background-image: url('https://www.bloodsweatandtears.eu/assets/images/fbooklogin.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
}
.google{
  background-image: url('https://www.bloodsweatandtears.eu/assets/images/gsigninblue.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
}
.hidden{
  display:none;
}
.service{
  height: -webkit-max-content;
  margin: 2% 1%;
}
.sw_bar{
  // font-family: 'Racing Sans One', cursive;
  font-family: 'Press Start 2P', cursive;
  md-select{
    md-select-value{
      span{
        .md-text{
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
.li_icon{
  i{font-size: 100px;}
}
.window{
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left: 0;
  height:100%;
  width:100%;
  overflow-x: none;
}
.skill{
  position: relative;
  width:300px;
    height: 300px;
  .skill_circle{
    width:300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;


  }
}
.slider{
  animation: slideshow 300s linear infinite;
      transform: translate3d(0, 0, 0);
}


.scroll{
  overflow-y: scroll;
}
.mc{
  height: -webkit-max-content;
  height: -moz-max-content;
  height: -ie-max-content;
  height: max-content;
}
 @keyframes slideshow {
      0%    { left: 0; }
      100%  { -webkit-transform: translateX(-100%);}

    }
 @keyframes starter_flash {
      0%    { opacity: 0; };
      50%  { opacity: 1};
      100%  { opacity: 0};

    }


.w100 {
  width: 100%;
}
app {
  height: 100%;
  -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.active_scale {
  color: darkred;
}
.temp_ctrls {
  position: absolute;
  right: 10px;
  top: 10px;
}
