<header class="header"  layout="row" >
  <div flex="100" layout="row" layout-align="center center" class="blog_header">
    <div flex="15" layout="row" layout-align="center center">
      <md-button ui-sref="app.blog" ng-show="currentState == 'app.main'">Blog</md-button><i ui-sref="app.blog" ng-show="currentState == 'app.post'" class="material-icons">chevron_left</i><i ui-sref="app.main" ng-show="currentState == 'app.blog'" class="material-icons">home</i>
    </div>
    <div flex="70" layout="row" layout-align="center center">
      <h1 flex="none" class="center nocifer nom">Blood Sweat & Tears</h1>
    </div>
    <div flex="15" layout="row" layout-align="center center">
      <md-button ng-click="signOut()" ng-show="auth" class="md-icon-button"><i class="material-icons">exit_to_app</i></md-button>
    </div>
  </div>
</header>